{% from "_formhelpers.html" import render_field %}
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="static/css/mycss.css" type="text/css"/>
  <link rel="stylesheet" href="hover.css" media="all">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <script src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js'></script>
  <script src='//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
{% block content %}{% endblock %}
</body>
</html>
